// GLOBAL VARIABLES
:root {
    --color-blue-1: #666CA3;
    --color-blue-2: #13183F;

    --color-pink-1: #FFA7C3;
    --color-pink-2: #F74780;

    --color-grey: #83869A;
    --color-white: #FFF;
}

// MIXINS
@mixin gradient-primary {
    background-image: linear-gradient(180deg, rgba(255, 111, 72, 1),rgba(240, 42, 166, 1));
}

@mixin flex {
    display: flex;
    flex-direction: column;
  }

// UTILITY CLASS 

.pt-sm {margin-top: 1rem;}
.pt-md {margin-top: 2rem;}
.pt-lg {margin-top: 3rem;}
.pb-sm {margin-bottom: 1rem;}
.pb-md {margin-bottom: 2rem;}
.pb-lg {margin-bottom: 3rem;}
     
// RESPONSIVE BREAKPOINTS
$bp-xl: 106.25em; // 1700px / 16 = 106.25em
$bp-l: 75em; //   1285px / 16 = 75em
$bp-m: 56.25em; //   900px / 16 = 56.25em
$bp-s: 40.625em; //   650px / 16 = 40.6255em
