.footer {
    background-color: rgba(7, 4, 59, 1);
    color: white;
    padding: 6.5rem 3.9rem 4.2rem 3.8rem;

    &__logo-box {

    }

    &__contact {
        
    }

    &__socials {

    }
    .icon-box {
        display: inline-block;
    }
}